img#perfil{
    width: 304px;
    height: 236px;
    border-radius: 8px;

}

#nameText{
    color:whitesmoke;
    float: left;

}


#secPortifolio {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #1E88E5;
    display: inline;

}

            body {
      position: relative;
    }

    #section1 {
      padding-top: 50px;
      height: 500px;
      color: #fff;
      background-color: #1E88E5;
    }

    #section2 {
      padding-top: 50px;
      height: 500px;
      color: #fff;
      background-color: #673ab7;
    }

    #section3 {
      padding-top: 50px;
      height: 500px;
      color: #fff;
      background-color: #ff9800;
    }

    #section4 {
      padding-top: 50px;
      height: 500px;
      color: #fff;
      background-color: #00bcd4;
    }



#Portifolio{
    display: inline;
}
#Conhecimento{
    display: inline;
}
#Contato{
    display: inline;
}
    

 